/* Elegant CSS for Landing Page */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('D:/PYTHON PROJECTS/Visitor management/visitor-management/src/images/back1.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center;
  }
  
  /* Landing page container */
  .landing-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
    
  }
  .main {
    padding-top: 100px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  header h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    color: #827c7c;
  }
  
  header p {
    font-size: 18px;
    color: #827c7c;
  }
  
  /* Main content styles */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .features {
    margin-bottom: 40px;
  }
  
  .features h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style-type: none;
  }
  
  .features ul li {
    font-size: 18px;
    color: #827c7c ;
    margin-bottom: 10px;
  }
  
  .cta {
    text-align: center;
  }
  
  .cta h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #44c6e7 ;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  
  /* Footer styles */
  footer {
    text-align: center;
    margin-top: 40px;
  }
  
  footer p {
    font-size: 16px;
    color: #666;
  }
  